@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
/* sidemenu */

.form-wrapper{
    padding-top: 10px;
}

h1 {
    font-size: 28px;
}
  
.txt-create {
    border-bottom: 3px solid rgb(9, 61, 61);
    padding-bottom: 5px;
}
.text-menu{
    font-size: 1rem;
    font-weight: bold;
    color: darkslategrey;
    font-family: Nunito, serif;
}