* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  overflow: hidden;
}

.app {
  margin: 0 auto;
  height: 100vh;
}

/* sidemenu */
.sidemenu {
  height: 100vh;
  padding: 30px;
  background-color: rgb(138, 197, 175);
}
.form-wrapper{
  padding-top: 10px;
}
h1 {
  font-size: 28px;
}

.txt-create {
  color: rgb(2, 95, 95);
}

/* song */
.song-section {
  padding-top: 30px;
  padding-right: 0;
}

.song-section h1 {
  color: rgb(2, 95, 95);
  /* overflow */
  overflow: visible;
}
.song {
  margin: 10px;
  padding: 2px;
  border-image: linear-gradient(45deg, rgb(28, 28, 138), rgb(253, 233, 51)) 1;
  border-image-width: 2px;
}

.play-btn {
  padding: 7px 24px 7px 18px;
  position: relative;
  bottom: 20px;
}

.song-img-wrapper {
  padding: 1px;
}

.song-img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.card-body {
  padding: 0.88rem 0.856rem;
}

.card-body .song-title {
  font-size: 1.345rem;
  margin-bottom: 0.17rem !important;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(2, 59, 95);
}

.card-body .artist {
  margin-top: 0.17rem !important;
  margin-bottom: 0.2rem;
  font-style: italic;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(36, 53, 56);
}

.song-album {
  font-family: monospace;
}

/* override css primary btn */
.btn-primary {
  background-color: rgb(2, 95, 95);
  border: 1px solid rgb(2, 95, 95);
  margin: 0 auto;
  display: block;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgb(88, 238, 238);
  border: 1px solid rgb(88, 238, 238);
  color: rgb(2, 95, 95);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}
