*{
    font-family: serif;
    box-sizing: border-box;
}
/* override css primary btn */
.btn-primary {
    background-color: rgb(2, 95, 95);
    border: 1px solid rgb(2, 95, 95);
    margin: 0 auto;
    display: block;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(88, 238, 238);
    border: 1px solid rgb(88, 238, 238);
    color: rgb(2, 95, 95);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

input::placeholder{
    color: rgb(120, 150, 133);
}